In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [
    [1.0, 2.0, np.nan, 2.0, 5.0, "Cat1"],
    [np.nan, 8.0, 4.0, 5.0, 1.0, "Cat2"],
    [3.0, 4.0, 7.0, np.nan, 2.0, np.nan],
    [4.0, np.nan, 1.0, 6.0, 3.0, "Cat1"],
    [5.0, 1.0, 2, 3.0, np.nan, "Cat2"],
    [9.0, 4.0, np.nan, 3.0, np.nan, "Cat2"]]

In [3]:
df = pd.DataFrame(data, columns=["First", "Second", "Third", "Fourth", "Fifth", "First_cat"])

In [4]:
df

   First  Second  Third  Fourth  Fifth First_cat
0    1.0     2.0    NaN     2.0    5.0      Cat1
1    NaN     8.0    4.0     5.0    1.0      Cat2
2    3.0     4.0    7.0     NaN    2.0       NaN
3    4.0     NaN    1.0     6.0    3.0      Cat1
4    5.0     1.0    2.0     3.0    NaN      Cat2
5    9.0     4.0    NaN     3.0    NaN      Cat2

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
impNumeric = SimpleImputer(missing_values=np.nan, strategy='mean')

In [8]:
impCategorical = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [13]:
data_imputed = df.copy()

In [19]:
X = df[['First', 'Third', 'Fourth', 'Fifth']]
data_imputed[['First', 'Third', 'Fourth', 'Fifth']] = impNumeric.fit(X).transform(X)

In [27]:
X_cat = df[['First_cat']]
data_imputed[['First_cat']] = impCategorical.fit(X_cat).transform(X_cat)

In [28]:
data_imputed

   First  Second  Third  Fourth  Fifth First_cat
0    1.0     2.0    3.5     2.0   5.00      Cat1
1    4.4     8.0    4.0     5.0   1.00      Cat2
2    3.0     4.0    7.0     3.8   2.00      Cat2
3    4.0     NaN    1.0     6.0   3.00      Cat1
4    5.0     1.0    2.0     3.0   2.75      Cat2
5    9.0     4.0    3.5     3.0   2.75      Cat2